{% extends "templates/base.html" %}



{% block add-css %}
<link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.min.css">


{% endblock %}


{% block content %}


<form action="{{form-post-to}}" method="POST" role="form">
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>
    <input name="customer-id" type="hidden" value="{{customer.id}}"/>
    <input name="address-id" type="hidden" value="{{address.id}}"/>

    <div class="row">
        <div class="form-group col-md-6">

            <div class="form-group">
                <label>{% localize customer/first-name %}</label>
                <input class="form-control" name="first-name" id="first-name" type="text" tabindex="10"
                       placeholder="{% localize customer/first-name %}" autofocus="autofocus" value="{{customer.first-name}}"/>
            </div>

            <div class="form-group">
                <label>{% localize customer/birthday %}</label>
                <input class="form-control" placeholder="{% localize customer/birthday %}" name="birthday" id="birthday"
                       data-date-format="{{date-format}}" data-date-language="{{language}}" tabindex="20"  value="{{customer.birthday}}" />
            </div>

            <div class="form-group">
                <label>{% localize customer/handy %}</label>
                <input class="form-control" name="handy1" id="handy1" type="text" tabindex="30"
                       placeholder="{% localize customer/handy %}" value="{{address.handy1}}"/>
            </div>

            <div class="form-group">
                <label>{% localize customer/landline %}</label>
                <input class="form-control" name="landline" id="landline" type="text" tabindex="40"
                       placeholder="{% localize customer/landline %}" value="{{address.landline}}"/>
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label>{% localize customer/last-name %}</label>
                <input class="form-control" name="last-name" id="last-name" type="text" tabindex="15"
                       placeholder="{% localize customer/last-name %}" required="required" value="{{customer.last-name}}"/>
            </div>

            <div class="form-group">
                <label>{% localize customer/gender %}</label>
                <select class="form-control" name="gender" id="gender" tabindex="25">
                    <option value="female" {% ifequal customer.gender "female" %}selected="selected"{% endifequal %}>{% localize customer/female %}</option>
                    <option value="male" {% ifequal customer.gender "male" %}selected="selected"{% endifequal %}>{% localize customer/male %}</option>
                    <option value="transgender" {% ifequal customer.gender "transgender" %}selected="selected"{% endifequal %}>{% localize customer/transgender %}</option>
                    <option value="genderneutral" {% ifequal customer.gender "genderneutral" %}selected="selected"{% endifequal %}>{% localize customer/genderneutral %}</option>
                </select>
            </div>

            <div class="form-group">
                <label>{% localize customer/handy %} 2</label>
                <input class="form-control" name="handy2" id="handy2" type="text" tabindex="35"
                       placeholder="{% localize customer/handy %}" value="{{address.handy2}}"/>
            </div>

            <div class="form-group">
                <label>{% localize customer/mail %}</label>
                <input class="form-control" name="email" id="email" type="text" tabindex="45"
                       placeholder="{% localize customer/mail %}" value="{{address.email}}">
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="form-group col-md-6">

            <div class="form-group">
                <label>{% localize address/country %}</label>
                <input class="form-control" name="country" id="country" type="text" tabindex="50"
                       placeholder="{% localize address/country %}" value="{{address.country}}"/>
            </div>

            <div class="form-group">
                <label>{% localize address/plz %}</label>
                <input class="form-control" name="plz" id="plz" type="text" tabindex="60"
                       placeholder="{% localize address/plz %}"  value="{{address.plz}}"/>
            </div>

            <div class="form-group">
                <label>{% localize address/street %}</label>
                <input class="form-control" name="street" id="street" type="text" tabindex="70"
                       placeholder="{% localize address/street %}"  value="{{address.street}}"/>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" id=submit" value="{% localize generic/save %}">
            </div>
        </div>

        <div class="col-md-6">


            <div class="form-group">
                <label>{% localize address/state %}</label>
                <input class="form-control" name="state" id="state" type="text" tabindex="55"
                       placeholder="{% localize address/state %}" value="{{address.state}}" />
            </div>

            <div class="form-group">
                <label>{% localize address/city %}</label>
                <input class="form-control" name="city" id="city" type="text" tabindex="65"
                       placeholder="{% localize address/city %}" value="{{address.city}}" />
            </div>

            <div class="form-group">
                <label>{% localize address/number %}</label>
                <input class="form-control" name="house-number" id="house-number" type="text" tabindex="75"
                       placeholder="{% localize address/number %}" value="{{address.house-number}}" />
            </div>
        </div>

    </div>


</form>

{% endblock %}

{% block js-bottom %}
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/locales/bootstrap-datepicker.de.min.js"></script>
<script src="/js/add-customer.js"></script>

{% endblock %}
